# --- ssl -------------------------------------------------------------------

# include rules/ssl.conf

SSLEngine on
SSLCertificateFile {{ item.ssl.cert_name }}
SSLCertificateKeyFile {{ item.ssl.key_name }}
{% if item.ssl.chain_name is defined %}
SSLCACertificateFile {{ item.ssl.chain_name }}
{% endif %}
